.page__about {
  .board__directors {
    background-color: #c19453;
    .section__title {
      color: #fff;
    }
    .board__director--lists {
      display: flex;
      align-items: center;
      gap: 16px;
      overflow: scroll;
      @media (min-width: 768px) {
        overflow: hidden;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .board__directors--content {
      min-width: 240px;
      padding: 16px;
      background-color: rgba($color: #fff, $alpha: 0.9);
      .name {
        font-family: CeraPro-Regular;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #231f20;
      }
      .designation {
        font-family: CeraPro-Regular;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #231f20;
      }
    }
  }

  .promoters--list {
    display: flex;
    gap: 16px;
    @media (min-width: 768px) {
      gap: 120px;
    }
    justify-content: flex-start;
    align-items: center;
    span {
      display: inline-block;

      @media (max-width: 767.98px) {
        svg {
          width: 123px;
          height: auto;
        }
      }
    }
  }

  &.page__home--about {
    background-color: #fff;
    background-image: url("../images/home-page-bg.png");

    .banner {
      padding-left: 0;
      padding-right: 0;
    }
    .board__directors {
      .section__title {
        color: #231f20;
      }
    }
    .home__about--vision--missionGrid {
      position: relative;
      display: grid;
      gap: 0;
      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
      .home__about--center {
        img {
          width: 100%;
          height: 240px;
          @media (min-width: 768px) {
            height: 100%;
          }
        }
      }
      .home__about--vision,
      .home__about--mission {
        position: relative;
        img {
          width: 100%;
          height: 240px;
          @media (min-width: 768px) {
            height: 100%;
          }
        }
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          @media (min-width: 768px) {
            padding: 40px;
          }
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #231f20, $alpha: 0.45);
          p {
            /* GM/Desktop/H5 */
            font-family: var(--font-700);
            font-size: 18px;
            line-height: 22px;
            color: #ffffff;

            strong {
              margin-bottom: 16px;
              display: block;
              /* GM/Desktop/H3 */
              font-family: var(--font-700);
              font-size: 24px;
              line-height: 30px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
