.contact__detail {
  background-color: #fdf7eb;
}

.contact__detail--title {
  font-family: CeraPro-Bold;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 16px;
}

.contact__detail--address {
  margin-bottom: 16px;

  .contact__detail--address--title {
    /* GM/H4 */
    font-family: CeraPro-Medium;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    color: #000000;
    margin-bottom: 8px;
  }

  address {
    strong {
      font-family: CeraPro-Medium;
    }

    /* GM/B1 */
    font-family: CeraPro-Light;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    color: #000000;
  }
}

.contact__detail--investor,
.contact__detail--trade {
  margin-bottom: 16px;

  span,
  a {
    display: inline-block;
  }

  /* GM/H4 */
  font-family: CeraPro-Medium;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  color: #000000;
}

.contact__detail--form {
  margin-top: 32px;
  padding: 24px 16px;
  background-color: #ffffff;

  .contact__detail--form__title {
    text-align: center;

    font-family: CeraPro-Bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 24px;
  }
}

.page__leasing {
  position: relative;
  .container-fluid {
    position: relative;
  }
}
