%desktop-h1-48 {
  line-height: normal;
  font-family: CeraPro-Bold;
  font-size: 48px;
  line-height: 54px;
}

%desktop-h2-32 {
  line-height: normal;
  font-family: CeraPro-Bold;
  font-size: 32px;
  line-height: 40px;
}

%desktop-h3-24 {
  line-height: normal;
  font-family: CeraPro-Bold;
  font-size: 24px;
  line-height: 30px;
}

%desktop-h4-20 {
  line-height: normal;
  font-family: CeraPro-Medium;
  font-size: 20px;
  line-height: 24px;
}

%desktop-h5-18 {
  line-height: normal;
  font-family: CeraPro-Bold;
  font-size: 18px;
  line-height: 22px;
}

%body-1-16 {
  line-height: normal;
  font-family: CeraPro-Light;
  font-size: 16px;
  line-height: 20px;
}

%body-2-14 {
  line-height: normal;
  font-family: CeraPro-Light;
  font-size: 14px;
  line-height: 18px;
}



// @media (min-width: 768px) {
//   %desktop-h1-48 {
//     line-height: normal;
//     font-family: CeraPro-Black;
//     font-size: 48px;
//   }
// }
