.footer__home {
  padding: 12px 0;
  background-color: #866c38;

  .footer__copyright p {
    font-family: var(--font-300);
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #fbe2a2;
  }

  .footer__socialmenu {
    a:not(:last-child) {
      margin-right: 16px;
    }
  }
  .footer__made-by {
    margin-left: 32px;
    display: inline-block;
    font-family: var(--font-300);
    font-size: 10px;
    line-height: 13px;
    text-decoration-line: underline;
    color: #fbe2a2;
  }
}

.footer__main {
  background-color: #000000;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 1200px) {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__main--logo {
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #909090;
  }

  .footer__main--navigation--list {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    @media (min-width: 768px) {
      padding-bottom: 160px;
      flex-direction: row;
    }
    justify-content: space-between;
    .footer__main--navigation--lists {
      display: flex;
    }
    .subscription--title {
      font-family: "Cera Pro";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      margin-bottom: 8px;
    }
    .subcription--content {
      font-family: "Cera Pro";
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      margin-bottom: 16px;
    }
    form {
      input {
        min-width: 280px;
        min-width: 200px;
        padding: 16px;
        border: 1px solid #fff;
        font-family: "Cera Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
      }
      padding-bottom: 32px;
      @media (min-width: 768px) {
        padding-bottom: 0;
      }
    }
    nav {
      min-width: 96px;
      @media (min-width: 768px) {
        min-width: 174px;
      }
      span {
        display: block;
        font-family: "Cera Pro";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        margin-bottom: 24px;
      }
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        list-style: none;
        a {
          display: inline-block;
          margin-bottom: 8px;
          font-family: "Cera Pro";
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 18px;
          color: #ffffff;
        }
      }
    }
  }
  .footer__main--policy {
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    border-top: 1px solid #909090;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    .policy__link--list {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      gap: 14px;
      @media (min-width: 768px) {
        gap: 24px;
        margin-bottom: 0;
        justify-content: flex-start;
      }
      a {
        font-family: "Cera Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #ffffff;
      }
    }
    .social__link {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;
      @media (min-width: 768px) {
        flex-wrap: nowrap;
        gap: 24px;
      }

      .social__link--title {
        font-family: "Cera Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
      }
      .social__link--list {
        display: flex;
        gap: 16px;
      }
      .social__link-made {
        flex: 1 0 100%;
        @media (min-width: 768px) {
          flex: initial;
        }
        font-family: "Cera Pro";
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 13px;
        text-align: center;
        text-decoration-line: underline;
        color: #fbe2a2;
      }
    }
  }

  .logo--left {
    svg {
      width: 146px;
      @media (min-width: 768px) {
        width: auto;
      }
    }
  }
}

.subcription--content + form {
  .form__wrapper {
    display: flex;
    .form__button {
      width: 52px;
      height: 52px;
      background-color: #fff;
      background-image: url('data:image/svg+xml,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="50" height="50" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M18.9993 25C18.9993 24.8011 19.0783 24.6103 19.219 24.4696C19.3597 24.329 19.5504 24.25 19.7493 24.25H28.4388L25.2183 21.031C25.0775 20.8901 24.9984 20.6991 24.9984 20.5C24.9984 20.3008 25.0775 20.1098 25.2183 19.969C25.3592 19.8281 25.5502 19.749 25.7493 19.749C25.9485 19.749 26.1395 19.8281 26.2803 19.969L30.7803 24.469C30.8502 24.5386 30.9056 24.6214 30.9434 24.7125C30.9812 24.8036 31.0007 24.9013 31.0007 25C31.0007 25.0986 30.9812 25.1963 30.9434 25.2874C30.9056 25.3785 30.8502 25.4613 30.7803 25.531L26.2803 30.031C26.1395 30.1718 25.9485 30.2509 25.7493 30.2509C25.5502 30.2509 25.3592 30.1718 25.2183 30.031C25.0775 29.8901 24.9984 29.6991 24.9984 29.5C24.9984 29.3008 25.0775 29.1098 25.2183 28.969L28.4388 25.75H19.7493C19.5504 25.75 19.3597 25.671 19.219 25.5303C19.0783 25.3896 18.9993 25.1989 18.9993 25Z" fill="%23313131"/></svg>');
    }
  }
}
