.gallery__title {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #231f20;
}
.gallery__content {
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #231f20;
}
.gallery__images{

}


