.page__cover--form--wrapper {
  width: 100%;
  height: 100%;
  @media (min-width: 968px) {
    position: absolute;
    left: 20px;
    right: 20px;
    padding: 0 20px;
    width: calc(100% - 40px);
    top: 0;
    bottom: 0;
  }
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.page__cover--form {
  width: 100%;
  @media (min-width: 968px) {
  max-width: 380px;
  }
  // height: 554px;
  padding: 16px 24px;
  background-color: #fff;
  .page__cover--form__title {
    /* GM/Desktop/H3 */
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    color: #000000;
    margin-bottom: 24px;
  }
}
