.blog__detail--content {
  margin-top: 32px;
  .content__time--stamp {
    font-family: var(--font-700);
    font-size: 18px;
    line-height: 22px;
    color: #c19453;
    display: inline-block;
  }
  .content__title {
    margin-top: 16px;
    margin-bottom: 32px;

    font-family: var(--font-700);
    font-size: 24px;
    line-height: 30px;
    color: #231f20;
  }
  p {
    font-family: var(--font-300);
    font-size: 16px;
    line-height: 20px;
    color: #231f20;
    + p {
      margin-top: 8px;
    }
  }
}
