
.page-main {
  background-color: #d7c088;
  background-image: url("../images/home-page-bg.png");


.image {
  overflow: hidden;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

.card__website--list {
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  margin: 28px;
  position: absolute;
  top: -14px;
  left: -14px;
  right: 0px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  img {
    width: 134px;
    margin-top: 70px;
    object-fit: contain;
  }
  a {
    margin-bottom: 18px;
    text-align: center;
    padding: 8px 16px;
    background: #ffffff;
    font-family: "Cera Pro";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
  }
}

}

