.offer__lists {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  .offer__list {
    display: inline-block;
    margin-right: 10px;
    flex: 1 0 auto;
  }
}
.offer__brand--lists__loadMore{
  text-align: center;
}
